.card
    width: 6.35cm
    height: 8.89cm
    border-radius: 0.5cm
    overflow: hidden

    background-color: #fff
    border: 1px solid var(--color-border)

    &.--add 
        // border: 1px solid var(--color-success)
        display: flex
        justify-content: center
        align-items: center

        &::before
            content: "\2b"
            font-size: 64px
            font-family: var(--font-family-font-awesome)
            color: var(--color-success)
            border-radius: 50%
            border: 1px solid var(--color-success)
            width: 64px
            height: 64px

            display: flex
            justify-content: center
            align-items: center
            text-align: center

        &:hover
            border: 1px solid var(--color-success)

    &.--edit
        margin: auto
        min-width: unset
    
    input, textarea
        margin: 0
        width: 100%
        max-width: unset
        border: none
        border-bottom: 1px dotted black
        background-color: unset

        &[type="file"]
            display: none

        &:hover
            border: 1px solid var(--color-primary)

    label.card_image
        display: flex
        height: 100%
        width: 100%
        justify-content: center
        align-items: center
        text-align: center
        cursor: pointer

        &:hover
            border: 1px solid var(--color-primary)

a.card
    color: black
    &:hover
        text-decoration: none
        color: black !important
        outline: 2px solid var(--color-primary)