// ----- COLORS VARIATIONS ----- //

@function generate-variations($color) {
    $darker-1: darken($color, 10%);
    $darker-2: darken($color, 20%);
    $lighter-1: lighten($color, 10%);
    $lighter-2: lighten($color, 20%);

    @return (
        darker-2: $darker-2,
        darker-1: $darker-1,
        base: $color,
        lighter-1: $lighter-1,
        lighter-2: $lighter-2
    );
}

// ----- COLORS BY COLOR ----- //

$color-palette: (
    gray: generate-variations(#6e6e6e),
    red: generate-variations(#e63946),
    green: generate-variations(#2ecc71),
    blue: generate-variations(#009fda),
    yellow: generate-variations(#ffcc00),
    purple: generate-variations(#7239a3),
    orange: generate-variations(#ff7a00),
    pink: generate-variations(#ff5e94),
    brown: generate-variations(#8b5a2b)
);

// ----- COLORS BY USE ----- //

$color: (
    primary: map-get(map-get($color-palette, orange), base),
    primary-light: map-get(map-get($color-palette, orange), lighter-1),
    primary-dark: map-get(map-get($color-palette, orange), darker-1),
    secondary: map-get(map-get($color-palette, blue), base),
    secondary-light: map-get(map-get($color-palette, blue), lighter-1),
    secondary-dark: map-get(map-get($color-palette, blue), darker-1),

    background: map-get(map-get($color-palette, gray), darker-1),
    background-light: map-get(map-get($color-palette, gray), lighter-1),
    background-dark: map-get(map-get($color-palette, gray), lighter-2),
    background-second: map-get(map-get($color-palette, blue), darker-1),
    background-second-light: map-get(map-get($color-palette, blue), lighter-1),
    background-second-dark: map-get(map-get($color-palette, blue), lighter-2),

    success: map-get(map-get($color-palette, green), base),
    info: map-get(map-get($color-palette, blue), base),
    warning: map-get(map-get($color-palette, yellow), base),
    danger: map-get(map-get($color-palette, red), base),
    light: map-get(map-get($color-palette, gray), lighter-1),
    dark: map-get(map-get($color-palette, gray), darker-1)
);

// ----- COLORS TO CSS ----- //

:root {
    @each $name, $value in $color {
        --color-#{$name}: #{$value};
    }
}