// ----- COLORS VARIATIONS ----- //
@use 'sass:color';
@function generate-variations($color) {
    $darker-1: color.scale($color, $lightness : -80%);
    $darker-2: color.scale($color, $lightness : -30%);
    $lighter-1: color.scale($color, $lightness : 30%);
    $lighter-2: color.scale($color, $lightness : 90%);

    @return (
        darker-2: $darker-2,
        darker-1: $darker-1,
        base: $color,
        lighter-1: $lighter-1,
        lighter-2: $lighter-2
    );
}

// ----- COLORS BY COLOR ----- //

$color-palette: (
    gray: generate-variations(#6e6e6e),
    red: generate-variations(#e63946),
    green: generate-variations(#2ecc71),
    blue: generate-variations(#00bcff),
    yellow: generate-variations(#ffcc00),
    purple: generate-variations(#7239a3),
    orange: generate-variations(#f4661b),
    pink: generate-variations(#ff5e94),
    brown: generate-variations(#8b5a2b)
);

// --- Palette adjustments

$color-palette: map-merge($color-palette, (
    orange: (
        base: #f4661b,
        lighter-1: #ff9b69,
        lighter-2: #ffcdb2,
        darker-1: #dd5300,
        darker-2: #753516
    ),
    red: (
        base: #e63946,
        lighter-1: #ff6b6b,
        lighter-2: #ffafaf,
        darker-1: #d62839,
        darker-2: #9a031e
    ),
));

// ----- COLORS BY USE ----- //

$color: (
    primary: map-get(map-get($color-palette, orange), base),
    primary-light: map-get(map-get($color-palette, orange), lighter-1),
    primary-dark: map-get(map-get($color-palette, orange), darker-1),
    secondary: map-get(map-get($color-palette, blue), base),
    secondary-light: map-get(map-get($color-palette, blue), lighter-1),
    secondary-dark: map-get(map-get($color-palette, blue), darker-1),

    text: black,
    text-light: map-get(map-get($color-palette, gray), darker-1),

    background: map-get(map-get($color-palette, gray), base),
    background-light: map-get(map-get($color-palette, gray), lighter-2),
    background-dark: map-get(map-get($color-palette, gray), darker-1),
    background-second: map-get(map-get($color-palette, blue), darker-1),
    background-second-light: map-get(map-get($color-palette, blue), lighter-1),
    background-second-dark: map-get(map-get($color-palette, blue), lighter-2),

    border: map-get(map-get($color-palette, gray), base),

    cta: map-get(map-get($color-palette, orange), darker-1),
    cta-hover: map-get(map-get($color-palette, orange), base),

    success: map-get(map-get($color-palette, green), base),
    success-light: map-get(map-get($color-palette, green), lighter-2),
    success-dark: map-get(map-get($color-palette, green), darker-1),
    info: map-get(map-get($color-palette, blue), base),
    info-light: map-get(map-get($color-palette, blue), lighter-2),
    info-dark: map-get(map-get($color-palette, blue), darker-1),
    warning: map-get(map-get($color-palette, yellow), base),
    warning-light: map-get(map-get($color-palette, yellow), lighter-2),
    warning-dark: map-get(map-get($color-palette, yellow), darker-1),
    danger: map-get(map-get($color-palette, red), base),
    danger-light: map-get(map-get($color-palette, red), lighter-2),
    danger-dark: map-get(map-get($color-palette, red), darker-1),
    light: map-get(map-get($color-palette, gray), lighter-2),
    dark: map-get(map-get($color-palette, gray), darker-1)
);

// ----- COLORS TO CSS ----- //

:root {
    @each $name, $value in $color {
        --color-#{$name}: #{$value};
    }
}