{% extends 'base.html.twig' %}

{% block title %}
    My cards
{% endblock %}

{% block content %}
    <section>
        <h1>
            My cards
        </h1>
        <div class="card-list flex">
            <a class="card --add" href="{{ path('app_card_add') }}"></a>

            {% for card in cards %}
                {% include('card/card.html.twig') with { 'card': card , 'editable': true } %}
            {% endfor %}
    </section>
{% endblock %}
