button, .button
    display: inline-block
    
    padding: 16px 32px
    border-radius: 8px
    background-color: var(--color-primary)
    color: white

    width: fit-content

    &:hover
        background-color: var(--color-primary-dark)
        color: white