@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Orbitron:wght@400;600;700&family=Audiowide&display=swap");
:root {
  --color-primary: #f4661b;
  --color-primary-light: #ff9b69;
  --color-primary-dark: #dd5300;
  --color-secondary: #00bcff;
  --color-secondary-light: #4dd0ff;
  --color-secondary-dark: #002633;
  --color-background: #6e6e6e;
  --color-background-light: #f1f1f1;
  --color-background-dark: #161616;
  --color-background-second: #002633;
  --color-background-second-light: #4dd0ff;
  --color-background-second-dark: #e6f8ff;
  --color-cta: #dd5300;
  --color-cta-hover: #f4661b;
  --color-success: #2ecc71;
  --color-success-light: #eafaf1;
  --color-success-dark: #092917;
  --color-info: #00bcff;
  --color-info-light: #e6f8ff;
  --color-info-dark: #002633;
  --color-warning: #ffcc00;
  --color-warning-light: #fffae6;
  --color-warning-dark: #332900;
  --color-danger: #e63946;
  --color-danger-light: #fdebed;
  --color-danger-dark: #33060a;
  --color-light: #f1f1f1;
  --color-dark: #161616;
}

:root {
  --font-size-xxs: 0.5rem;
  --font-size-xs: 0.625rem;
  --font-size-sm: 0.75rem;
  --font-size-md: 1rem;
  --font-size-ml: 1.25rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 3rem;
  --font-family-text: Roboto, sans-serif;
  --font-family-heading: Montserrat, sans-serif;
  --font-family-special: Audiowide, cursive;
}

:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
  --container-sm: 540px;
  --container-md: 720px;
  --container-lg: 960px;
  --container-xl: 1140px;
  --container-xxl: 1320px;
  --current-container: var(--container-xxl);
  --current-container-side-space: max(calc((100vw - var(--current-container)) / 2), 16px);
}
@media (max-width: 1200px) {
  :root {
    --current-container: var(--container-xl);
  }
}
@media (max-width: 992px) {
  :root {
    --current-container: var(--container-lg);
  }
}
@media (max-width: 768px) {
  :root {
    --current-container: var(--container-md);
  }
}
@media (max-width: 576px) {
  :root {
    --current-container: var(--container-sm);
  }
}
@media (max-width: 0) {
  :root {
    --current-container: var(--container-xs);
  }
}

:root {
  --shadow-none: 0;
  --shadow-sm: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --shadow-base: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  --shadow-lg: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

main .hero {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.5), rgb(0, 0, 0)), url("/images/home-hero.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-color: var(--color-background);
  color: white;
}
main .hero .button {
  margin-left: auto;
  margin-right: 128px;
  margin-top: 32px;
}
main .features {
  background: var(--color-primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
main .features .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background: white;
  border-radius: 50%;
  padding: 16px;
  aspect-ratio: 1;
  width: 158px;
  color: var(--color-background-dark);
  text-align: center;
}
main .features .feature h3 {
  font-size: var(--font-size-ml);
  margin-bottom: 0;
}
main .features .feature i {
  font-size: 32px;
}
main .explaination h3, main .explaination p {
  margin: 0;
}
main .explaination ol {
  padding-left: 128px;
  margin-top: 32px;
  counter-reset: list-counter;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main .explaination li {
  list-style: none;
  position: relative;
  counter-increment: list-counter;
}
main .explaination li::before {
  position: absolute;
  left: calc(-2em - 24px);
  top: 50%;
  transform: translateY(-50%);
  content: counter(list-counter);
  font-size: var(--font-size-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: var(--color-primary-light);
}
@media (max-width: 768px) {
  main .features {
    flex-direction: column;
    gap: 0px;
  }
  main .features .feature {
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    width: 100%;
    aspect-ratio: unset;
    padding: 16px 0 16px 32px;
    background: transparent;
  }
  main .features .feature i {
    border-radius: 50%;
    padding: 16px;
    background: white;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .features .feature h3 {
    font-size: var(--font-size-lg);
    color: black;
  }
}/*# sourceMappingURL=home.css.map */