body 
    height: 100vh

section, .section
    width: 100%
    padding: 32px var(--current-container-side-space)

    &.full-screen
        height: calc(100vh - var(--header-height))

    &.center-box
        @include breakpoint-up("md")
            margin: 32px auto
            min-width: min(100vw, 380px)
            width: fit-content

            padding: 32px
            background-color: white
            border-radius: 8px
            box-shadow: var(--shadow-base)

        &.center-box
            &-ml
                min-width: min(100vw, 480px)
            &-lg
                min-width: min(100vw, 680px)
            &-xl
                min-width: min(100vw, 880px)
            &-xxl
                min-width: min(100vw, 1080px)

    section, .section
        padding: 8px

.columns
    display: flex
    gap: 32px
    flex-wrap: wrap

    > *
        min-width: 300px
        max-width: 100%

    &-2 > *
        flex: 1 1 calc(50% - 32px)

.flex
    display: flex
    gap: 32px
    width: 100%
    flex-wrap: wrap

.float
    &-right
        margin-left: auto
    &-center
        margin-left: auto
        margin-right: auto