h1, h2, h3, h4, h5, h6
    font-family: var(--font-family-heading)
    font-weight: normal
    line-height: 1.2
    margin-bottom: 0.5em

p
    font-family: var(--font-family-body)
    font-weight: normal
    margin-bottom: 0.5em
    line-height: 1.5
    font-size: var(--font-size-md)

a
    text-decoration: none
    color: var(--color-cta)
    &:hover
        color: var(--color-cta-hover)
        > * 
            color: var(--color-cta-hover)

h1
    font-size: var(--font-size-xxl)
    font-weight: 400

h2
    font-size: var(--font-size-xl)
    font-weight: 400

h3
    font-size: var(--font-size-lg)
    font-weight: 400

h4
    font-size: var(--font-size-md)
    font-weight: 700

h5
    font-size: var(--font-size-sm)
    font-weight: 700

h6
    font-size: var(--font-size-xs)
    font-weight: 700

