<footer class="columns columns-2">
    <nav class="navbar-footer nav nav__bar vertical">
        <a class="nav__link" href="{{ path('home') }}">Terms of use</a>
        <a class="nav__link" href="{{ path('home') }}">Privacy policy</a>
        <a class="nav__link" href="{{ path('home') }}">Our partners</a>
    </nav>
    <div>
        <h3>Contact</h3>
        <p><i class="fa fa-map-marker"></i> 1234 pinguin avenue, Cold-City, Northen Pole</p>
        <p><i class="fa fa-phone"></i> +33 1 23 45 67 89</p>
        <p><i class="fa fa-envelope"></i> example@mail.com</p>
    </div>
</footer>