<div class="card-default">
    <div class="card-default__header">
        <h5 class="card-default__title">
            {{ card.title }}
        </h5>
    </div>
    <div class="card-default__image">
        <img src="{{ card.image }}" alt="{{ card.title }}"></div>
        <div class="card-default__body">
            <p class="card-default__text">
                {{ card.text }}
            </p>
        </div>
    </div>
</div>